@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>İletişim Gönderen</th>
		<th>Gönderen Mail</th>
		<th>Konu</th>
		<th>Mesaj</th>
		<th>Sil</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.ContactID</th>
			<td>@item.ContactUserName</td> 
			<td>@item.ContactMail</td> 
			<td>@item.ContactSubject</td> 
			<td>@item.ContactMessage</td>
			<td><a href="/Admin/AdminContact/ContactDelete/@item.ContactID" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');" class="btn btn-danger">Sil</a></td>
		</tr>
	}
</table>
<a href="/Admin/ AdminContact/Index" class="btn btn-primary">Yeni Kategori</a>
<br />


